.hero {
	height: auto;
	padding: 160px 0 100px 0;
	color: white;
}

.hero-2 {
	height: auto;
	padding: 120px 0;
	color: white;
}

.hero-3 {
	height: auto;
	padding: 80px 0;
	color: white;
}

.hero-image {
	background: url('./images/hero.png');
	height: auto;
	background-size: cover;
	background-position: center;
	color: white;
}

.hero-image-2 {
	background: url('./images/collaboration.png');
	height: auto;
	background-size: cover;
	background-position: center bottom;
	color: white;
}

.hero-image-3 {
	background: url('./images/build.png');
	height: auto;
	background-size: cover;
	background-position: center;
	color: white;
}


.hero-solid {
	background: @brand-primary;
}

.hero-headline {
	padding: 100px 0;
	border-bottom: 1px solid @gray;
}

.hero-cta {
	font-size: 3.9rem;
}
.hero-quote {

}

.center {
	text-align: center;
}


.section-header {
	font-size: 2.8rem;
	font-weight: 100;
}


.section-padding {
	height: auto;
	padding: 40px 0;
}

.list-padding {
	padding: 20px 0;
}

.lead {
	font-size: 1.6rem;
	line-height: 1.6;
	font-weight: 200;
}

.description {
	color: @gray-darker;
}

.gold {
	color:@brand-secondary;
}

.wpcf7 input[type="text"],
.wpcf7 input[type="email"],
.wpcf7 textarea
{
	width: 100%;
	margin: 0;
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	outline: 0;
	-webkit-tap-highlight-color: rgba(255,255,255,0);
	text-align: left;
	line-height: 1.2142em;
	font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
	padding: .67861em 1em;
	background: #fff;
	border: 1px solid rgba(0,0,0,.15);
	color: rgba(0,0,0,.8);
	border-radius: .2857rem;
	-webkit-transition: background-color .2s ease,box-shadow .2s ease,border-color .2s ease;
	transition: background-color .2s ease,box-shadow .2s ease,border-color .2s ease;
	box-shadow: none;
	&:active {
		border-color: rgba(0, 0, 0, 0.3);
		background: #fafafa;
		color: rgba(0, 0, 0, 0.8);
		box-shadow: none;
	}
	&:focus {
		border-color: @brand-primary;
		color: rgba(0, 0, 0, 0.8);
		box-shadow: none;
	}
}