.page-title {
	margin-top: 40px;
	max-width: 40%;
	margin-left: -25px;

}

nav {
	height: 0;
	background:none;
	color: @brand-primary;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.hero {
	height: auto;
	padding: 80px 0;
	color: white;
}

.hero-image {
	background: url('./images/hero.png');
	height: auto;
	background-size: cover;
	background-position: center;
	color: white;
}

.hero-image-2 {
	background: url('./images/collaboration.png');
	height: auto;
	background-size: cover;
	background-position: center;
	color: white;
}

.hero-image-3 {
	background: url('./images/build.png');
	height: auto;
	background-size: cover;
	background-position: center;
	color: white;
}

.hero-2 {
	height: auto;
	padding: 120px 0;
	color: white;
}

.hero-solid {
	background: @brand-primary;
}

.hero-overlay {
	// height: 100vh;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(69, 69, 67, 0.82)), to(rgba(2, 39, 21, 0.57)));
	background-image: -webkit-linear-gradient(top, rgba(69, 69, 67, 0.82), rgba(2, 39, 21, 0.57));
	background-image: -moz-linear-gradient(top, rgba(69, 69, 67, 0.82), rgba(2, 39, 21, 0.57));
	background-image: -o-linear-gradient(top, rgba(69, 69, 67, 0.82), rgba(2, 39, 21, 0.57));
	background-image: -ms-linear-gradient(top, rgba(69, 69, 67, 0.82), rgba(2, 39, 21, 0.57));
	background-image: linear-gradient(top, rgba(69, 69, 67, 0.82), rgba(2, 39, 21, 0.57));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#454543', EndColorStr='#022715');
}

.hero-headline {
	padding: 100px 0;
	border-bottom: 1px solid @gray;
}

.hero-cta {
	font-size: 4rem;
}
.hero-quote {

}

.center {
	text-align: center;
}


.section-header {
	font-size: 2.8rem;
	font-weight: 100;
}


.section-padding {
	height: auto;
	padding: 40px 0;
}

.list-padding {
	padding: 20px 0;
}

.lead {
	font-size: 1.6rem;
	line-height: 1.4;
	font-weight: 200;
}

.gold {
	color:@brand-secondary;
}

.wpcf7
{

}

.wpcf7 input[type="text"],
.wpcf7 input[type="email"],
.wpcf7 textarea
{
	margin: 0;
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	outline: 0;
	-webkit-tap-highlight-color: rgba(255,255,255,0);
	text-align: left;
	line-height: 1.2142em;
	font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
	padding: .67861em 1em;
	background: #fff;
	border: 1px solid rgba(0,0,0,.15);
	color: rgba(0,0,0,.8);
	border-radius: .2857rem;
	-webkit-transition: background-color .2s ease,box-shadow .2s ease,border-color .2s ease;
	transition: background-color .2s ease,box-shadow .2s ease,border-color .2s ease;
	box-shadow: none;
	&:active {
		border-color: rgba(0, 0, 0, 0.3);
		background: #fafafa;
		color: rgba(0, 0, 0, 0.8);
		box-shadow: none;
	}
	&:focus {
		border-color: @brand-primary;
		color: rgba(0, 0, 0, 0.8);
		box-shadow: none;
	}
}

